body {
    background: #cbbdcf;
}

h1 {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin: 75px 0 25px 0;
    color: #34495e;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}

section {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 50px;
}

p{
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font: italic 20px sans-serif;
}

